.mainContainer{
    width:900px;
    margin: auto;
    padding:30px;
}
.row {
    display:flex;
}
.col{
    width:33%;
}
.down{
    border-radius: 0px 15px 0px 0px;
    border: 1px solid gray;
}
.nav {
    list-style: none;
    justify-content: space-evenly;
}
header {
    background: linear-gradient(180deg, #909090 80%, #a5a5a5 100%)
}