.mainContainer{
    width:900px;
    margin: auto 30px;
    padding-bottom: 80px;
    
}
body{
    font-family: 'Arial (Hebrew)', Arial;
}

.row {
    display:flex;
}
.col{
    width:33%;
}
.down{
    border-radius: 0px 30px 0px 0px;
    border: 1px solid gray;
}
.nav {
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    
}
header {
    background: linear-gradient(180deg, #909090 85%, #a5a5a5 15%);
    width:100%;
}

.abs{
    position: absolute;
}
.imgRel{
    position: relative;
    top:20px;
}
 .dropdown{
    position: absolute;
    display: none;
    /* right:-25px; */
    background-color: #909090;
    z-index: 2;
    
 }
 
 .liItem:hover > .dropdown {
     display: block;
 }
 .dropdownContact{
     list-style: none;
     padding: 0px;
    
 }
 .liItem{
     position: relative;
 }
 
 footer{
     width:900px;
     position:fixed;
     bottom: 0%;
     background: linear-gradient(180deg, #a5a5a5 15%, #909090 85%);
     height: 38px;
 }

 footer > ul {
    list-style: none;
 }
 footer > ul > li{
     padding-right: 10px;
     
 }
 a{
     text-decoration: none;
     color:white;

 }
 li:hover {
     background-color: #a5a5a5;
 }
 * {
     box-sizing: border-box;
 }
  .dropdownContact > li {
      display: block;
      padding: 10px 0px 5px 10px;
  }
  .dropdownContact > li:hover > a {
      color:blue;
      text-decoration:underline;
  }

  .down{
      background-image: url('images/cube_bg.png');
      background-size:cover;
      padding: 0 24px;
      
  }
  .cubePadding{
      margin-top: 20px;
  }
  .cubePadding > a {
      color:#72716d;
      font-size:13;
      text-decoration: underline;
      background: url(/images/read_more_blue.png) no-repeat left center;
      float: left;
  }
  h5{
    color:#575757;
    font-size: 15px;
  }
  a > span {
      padding-left: 13px;

  }
  .lastCube {
      display: flex;
      justify-content: space-between;
  }
  .lastCube > .colCube > a{
    display: block;
    color:#72716d;
    font-size:13;
    text-decoration: underline;
    background: url(/images/read_more_blue.png) no-repeat left center;
  }
.formFlex{
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

div > label {
   
    margin-left: 40px;
}
.form{
    width: 440px;
    background-color: whitesmoke;
    border-radius: 0px 20px 0px 0px;
}
.rowForm{
    display: flex;
    justify-content: space-around;
}
.sideCube {
    width: 248px;
    height: 142px;
    padding: 18px 22px 15px;
    border-radius: 0px 30px 0px 0px;
    background-image:url('images/small_cube_bg.png');
}.sideCube > h4 {
    color:#005ca0;;
    margin: 0;
    padding:0;
}
.sideCube > p, .content >p{
    font-size: 13px

}
.sideCube >p>span {

    font-weight: bold;
}
.sideCube a {
    color: #005ca0;
}
.sideBar{
    width: 122px;
    margin-left:20px;
    height: 30px;
    background-color: whitesmoke;
    
}
.sideBar > a {
    color: black;
    padding:10px 5px 10px 5px;

}
.up{
    position: relative;
    z-index:1 ;
}
.content{
    width: 248px;
    padding: 10px;
    position: absolute;
    left: 38px;
    bottom: 8px;
    color: #fff;
    background-image: url("/images/hp_tab_text_bg.png");
    background-repeat: no-repeat;
    background-size:cover;
    z-index: 3;
}
.content> h4{
    margin:0;
    padding:0;
    font-size:14px;
}
.content >p {
    margin:4px;
    
}
